@media screen and (max-width: 992px) {
  body {
    /* background-color: blue; */
   
  }

  .box-image {
    grid-column-start: 1; /* box1 akan dimulai dari kolom garis pertama */
    grid-column-end: 3; /* dan berakhir di kolom garis ketiga */
  }

  .box-description {
    grid-column-start: 1; /* box1 akan dimulai dari kolom garis pertama */
    grid-column-end: 3; /* dan berakhir di kolom garis ketiga */
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    /* background-color: red; */
  }
 
}